button{
    width: 164px;
    padding: 0;
    height: 60px;
    color: rgb(22, 235, 15);
    position: absolute;
    background-color: rgb(127, 127, 235);
    text-align: center;
    margin: 0 0 0 -25%;
    left: 45.5%;
    top: 45%;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    border: white;
    transition: transform .2s;
}

button:hover{
    background-color: rgb(95, 92, 241);
    transform: scale(1.3);
}
